<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.likki.list_view6" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_of_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".category"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.category" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".bussiness"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.bussiness" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".technology"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.technology" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".entertainment"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.entertainment" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".sports"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.sports" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MyListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MyListActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>





    </application>

</manifest>
